# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Others
.vscode
*.rar
p0.cpp
p1.md
*.csv
*.xlsx
*.docx
salvador_espadeiro.sh
randomDAG.cpp
gen2procs.cpp



